{% extends "base.html" %} {% block content %}
<div id='new_user_form' class='container'>
  <h1>Create New User Profile</h1>
  <form action="{{ url_for('create') }}" , method='POST'>
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input class="form-control" type="text" name='first_name' id='first_name' placeholder='First Name'>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input class="form-control" type="text" name='last_name' id='last_name' placeholder='Last Name'>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <span></span>
    <button id='new_user_home_button' class='btn btn-primary'><a href="{{ url_for('index') }}"></a>Return to Home</button>
  </form>
  
</div>
{% endblock %}