{% extends "base.html" %}
{% block content %}
<h1>User Info</h1>
<ol>
  <li>First Name: {{ user.first_name }}</li>
  <li>Last name: {{ user.last_name }}</li>
</ol>
<div>
  <a href="{{ url_for('message_index', user_id=user.id) }}">Display User Messages</a>
</div>
<div>
  <a href="{{ url_for('index') }}">Return Home</a>
</div>
<div>
<div>
  <a href="{{ url_for('edit', user_id=user.id) }}">Edit User Profile</a>
</div>
<form action="{{ url_for('destroy', user_id=user.id)}}?_method=DELETE" method="POST">
    <button type='submit'>Delete this user</button>
</form>
</div>
{% endblock %}